[2020-05-29 16:50] jordanpadams opened #1 "Perform User Interviews"
* Formulate questions
* Solicit for interviewees
* Research the problem space
* Understand the users

[2020-05-29 16:53] jordanpadams opened #2 "Perform heuristic analysis from existing metrics"

[2020-05-29 16:53] jordanpadams opened #3 "Formulate user stories for prototype"
Focus on 2 primary use cases:
1. integrating look-and-feel / content
2. providing search-driven access to PDS data, content, tools, and services

[2020-05-29 16:54] jordanpadams opened #4 "Identify opportunities for improvement with PDS web integration"
* Identify inconsistencies across the PDS web presence
* Identify potential user pain points

[2020-05-29 16:56] jordanpadams opened #5 "Synthesize interview results into user research knowledge base and produce report"

[2020-05-29 16:57] jordanpadams opened #6 "Model workflows and initial design directions"
based upon user analysis

[2020-05-29 16:57] jordanpadams opened #7 "Develop tailored PDS design system"
Refs NASA-PDS/pds.nasa.gov-search#5

[2020-05-29 16:59] jordanpadams opened #8 "Design mockups and develop Figma prototype"

[2020-06-09 18:00] jordanpadams opened #9 "Perform Trade Study on Design System"

[2020-06-18 21:14] jordanpadams commented on #9
Anil and Edward worked on criteria for Trade Study. Refined focus on criteria for the trade study and gave some initial reviews of some of the design systems.

[2020-06-18 21:15] jordanpadams commented on #2
Delay Rationale: Someone from NASA Metrics deleted the original report

[2020-06-18 21:16] jordanpadams commented on #2
Performed some initial analysis and metrics for top 50 pages and how people use the pds.nasa.gov website. Getting some interesting quantitative information thus far.

[2020-06-23 17:36] tloubrieu-jpl commented on #9
Still discussing the design system (uswds, material, baseweb design...)

[2020-06-23 17:37] tloubrieu-jpl commented on #2
No progress since last stand up

[2020-06-23 17:38] tloubrieu-jpl commented on #1
30 interviews done.
+5 interviews this week with graduate student.

interview phase should be completed next week.

[2020-06-25 21:22] jordanpadams commented on #9
Eddie: looked into details of the various design systems. Edward, Anil and team concluded trade study, coming to consensus on Material design system. Export of trade study to-be-attached.

[2020-06-25 21:22] jordanpadams commented on #9
@edwardbarraza @eddiesarevalo can you please attach an export of that trade study so we can close out this ticket by end of day?

[2020-06-25 21:53] edwardbarraza commented on #9
@jordanpadams Will do!

[2020-06-26 00:20] edwardbarraza commented on #9
[https://docs.google.com/spreadsheets/d/1h9WSpAKjlFoa4zy66QBHr_hhIBq8Q46AAEGzkSV1dHo/edit#gid=2116474524](url)

[2020-06-26 00:23] #9 closed

[2020-06-26 16:52] #7 closed

[2020-06-26 16:53] jordanpadams commented on #2
Delay rationale: Delayed due to abundance of user interviews. Progress being made on future work in parallel

[2020-06-26 16:53] jordanpadams commented on #1
Schedule status: On track

[2020-06-26 21:09] jordanpadams commented on #4
June schedule status: On track.

[2020-07-07 17:37] jordanpadams commented on #1
Status: A few remaining interviews from emails received since last week. Hope to be completed this week.

[2020-07-07 17:38] jordanpadams commented on #5
@edwardbarraza status: Plan to get started on this task once interviews complete later this week.

[2020-07-07 17:41] jordanpadams opened #10 "Develop generic design and mockups for cross-node Material templates"

[2020-07-07 17:41] jordanpadams commented on #10
@edwardbarraza status: kicking off design with Anil later today

[2020-07-21 17:42] tloubrieu-jpl commented on #1
User interviews are done

[2020-07-21 17:42] #1 closed

[2020-07-21 17:43] tloubrieu-jpl commented on #5
Edward provide Jordan with some slides for early user interview synthesis.

[2020-07-21 18:27] tloubrieu-jpl commented on #10
@edwardbarraza will create a sub task for the specific component which will be mocked first (footer/header) while discussing with IMG node.
The ticket should be 'small' enough to fit in the current sprint.

[2020-07-21 23:25] edwardbarraza opened #11 "Define component (footer/header) styles"
Ideate what header/nav/footer styles can look like for PDS
Work with Anil to converge on a solution
Create in Figma

[2020-07-27 18:06] jordanpadams commented on #2
July schedule status: Delayed due to increase in number of user interviews. No impact on future tasks as this can be completed in parallel with others on schedule.

[2020-07-27 18:06] jordanpadams commented on #3
July schedule status: Delayed due to increase in number of user interviews. No impact on future tasks as this can be completed in parallel with others on schedule.

[2020-07-27 18:06] jordanpadams commented on #4
Closing as initial themes understood. Additional synthesis and documentation of themes will occur during other tasks.

[2020-07-27 18:06] #4 closed

[2020-07-27 18:07] jordanpadams commented on #5
July Schedule Status: On track

[2020-07-28 17:46] tloubrieu-jpl commented on #5
First raw synthesis should be available by the end of the week (10+10)

[2020-07-28 17:48] tloubrieu-jpl commented on #2
Edward does not have time to work on that now.

[2020-08-11 17:44] tloubrieu-jpl commented on #5
Transcribing of the interview is fully done.

The research database is migrated into a atomic UX research database.

This will help to draw the conclusions from the collected user experiences.

The objective is to finalize the synthesis next Thursday.

[2020-08-11 17:46] tloubrieu-jpl commented on #11
Anil and Edward have pro figma account and work on the same project.

Eddie can access the project.

Some objects are available there but the PDS design is not pushed on these objects yet. Will be done next.

[2020-08-24 15:42] edwardbarraza commented on #11
Header consists of:

[2020-08-24 15:46] edwardbarraza commented on #5
Done. Summary report time!

[2020-08-24 15:49] edwardbarraza commented on #10
Figma component library is defined - https://www.figma.com/file/HN4cQ7tyBw5SaPc8GesLpr/Design-System?node-id=3081%3A39
PDS color palette ideation continues

[2020-08-25 17:48] jordanpadams commented on #5
@edwardbarraza status: all information has been added to atomic database, working on report now.

[2020-08-25 17:49] jordanpadams opened #12 "Developing output report with data integrated from PDS Survey"

[2020-08-25 17:51] jordanpadams opened #13 "Synthesize user interviews in to Atomic Research database"

[2020-08-25 17:51] #13 closed

[2020-08-25 17:53] jordanpadams opened #14 "Develop user personas based upon outputs from user interview synthesis"

[2020-08-27 16:08] jordanpadams commented on #5
August Schedule Status: Delayed due to resources diverted early to #7. This delivery is a prototype and not linked to system I&T.

[2020-08-27 16:10] jordanpadams commented on #3
August Schedule Status: Delayed due to resources diverted early to #7. This delivery is a prototype so schedule re-organization is expected, and not linked to system I&T.

[2020-08-27 16:10] jordanpadams commented on #6
August Schedule Status: Delayed due to resources diverted early to #7. This delivery is a prototype so schedule re-organization is expected, and not linked to system I&T.

[2020-08-27 16:10] jordanpadams commented on #8
August Schedule Status: Delayed due to resources diverted early to #7. This delivery is a prototype so schedule re-organization is expected, and not linked to system I&T.

[2020-09-08 17:38] tloubrieu-jpl commented on #11
Done on Edward side but waiting for validation from IMG node.

[2020-09-10 21:35] tloubrieu-jpl commented on #11
Propagate in Figma decision made last sprint.

[2020-09-10 22:28] tloubrieu-jpl commented on #11
We would need to discuss how the first release of the design system will be delivered and how the later updates will be done.
This was still unclear to Edward and myself during the planning meeting today and Edward said the github integration will require more work than the 1 week discussed yesterday.

One alternativate could be to have releases in dedicated workspace in FIGMA. Developpers (Eddie,

[2020-09-15 17:38] tloubrieu-jpl commented on #11
@edwardbarraza prepared delivery for @c-suh

Some cleaning going on in sigma but on track, should be completed later today.

[2020-09-18 00:54] edwardbarraza commented on #10
Design System Presentation

https://www.figma.com/proto/Sr1NxgRuxhTfHNncuCMV7y/Engineering-Node?node-id=513%3A4008&viewport=-3670%2C3209%2C0.21398554742336273&scaling=min-zoom

[2020-09-23 23:25] jordanpadams commented on #3
September Schedule Status: Deferred from Build 11.0 Build Schedule. No impact on build since this is part of a larger multi-build effort

[2020-09-24 21:08] tloubrieu-jpl commented on #2
@edwardbarraza made a good presentation to the team. The work will be presented next week.

[2020-09-24 21:09] #2 closed

[2020-09-26 00:41] jordanpadams commented on #5
September Schedule Status: Delayed due to resources diverted early to #7. Delivery on schedule prior to I&T.

[2020-09-29 17:34] tloubrieu-jpl commented on #12
@edwardbarraza will start this one tomorrow.

[2020-10-02 23:27] jordanpadams opened #15 "Upcoming Releases View"

[2020-10-02 23:28] jordanpadams opened #16 "Consider space of options"

[2020-10-02 23:28] jordanpadams opened #17 "Mock up Releases View design solution"

[2020-10-02 23:28] jordanpadams opened #18 "Converge on a Releases View solution"

[2020-10-02 23:29] jordanpadams opened #19 "Study how industry pushes content out to users"

[2020-10-02 23:29] jordanpadams opened #20 "Mock up Past Release Showcase design solutions"

[2020-10-02 23:29] jordanpadams opened #21 "Converge on a Past Release Showcase solution"

[2020-10-02 23:30] jordanpadams opened #22 "Past Release Showcase"

[2020-10-02 23:30] jordanpadams opened #23 "Revisit Tooltips"

[2020-10-02 23:30] jordanpadams opened #24 "Document the places where tooltips are available to users"

[2020-10-02 23:31] jordanpadams opened #25 "Update the WDS copy for tooltips"

[2020-10-02 23:31] jordanpadams opened #26 "Consider other places where tooltips can be helpful"

[2020-10-02 23:31] jordanpadams opened #27 "User test to find places where tooltips can guide users"

[2020-10-02 23:31] jordanpadams opened #28 "Document the information that is redundant across nodes"

[2020-10-02 23:31] jordanpadams opened #29 "Consolidate PDS wide information in to a user guide"

[2020-10-02 23:31] jordanpadams opened #30 "User Documentation Consolidation"

[2020-10-02 23:32] jordanpadams opened #31 "Formulate PDS Information Architecture"

[2020-10-02 23:32] jordanpadams opened #32 "Evaluate the current structure of PDS structure using mapping tools"

[2020-10-02 23:32] jordanpadams opened #33 "Re-organize PDS web content based on business/user needs"

[2020-10-02 23:33] jordanpadams opened #34 "Consolidate pages and ensure there is a logical structure to how we are organizing our sites"

[2020-10-02 23:33] jordanpadams opened #35 "Content Management System"
Dependent upon input from NASA Web Modernization working group

[2020-10-02 23:34] jordanpadams opened #36 "Abstract out the structure of PDS pages from CMS"

[2020-10-02 23:34] jordanpadams opened #37 "Converge on a CMS solution"

[2020-10-02 23:35] jordanpadams opened #38 "Re-evaluate the design of the Feedback widget"

[2020-10-02 23:35] jordanpadams opened #39 "Apply WDS to Widget"

[2020-10-02 23:35] jordanpadams opened #40 "Re-visit Feedback Widget Content"

[2020-10-02 23:35] jordanpadams opened #41 "Feedback Widget"

[2020-10-02 23:36] jordanpadams opened #42 "Mockup ATM site in PDS visual language"

[2020-10-02 23:36] jordanpadams opened #43 "Atmospheres Node Re-design Pilot"

[2020-10-02 23:37] jordanpadams opened #44 "Conference Citation Scanner"
Conference posters/papers often cite their work and provide PDS links of the data that was used for research. Researcher are largely mobile at conferences and take note of said links but the process is not streamlines. A scanner would streamline this primarily mobile-first process

[2020-10-02 23:38] jordanpadams opened #45 "WDS Mobile Considerations"
Mobile considerations are taken in to account in the adoption of a design system, but mockups for a ENG mobile site have not been created. Think of mobile-first feature on the web and enhance/prioritize them (ie data search may not be a mobile intensive task since it would require a user to potentially download gigs of data, most of which cannot be processed on a mobile device).

[2020-10-02 23:39] jordanpadams opened #46 "User Account Management"
Currently, there is no way that a user can retrieve a history of past search queries or downloaded products. Additionally, there is no way for users to customize the amount of progressive disclosure on PDS (think expert vs. novice). Lastly, user accounts would provide higher fidelity web analytics.

[2020-10-02 23:40] jordanpadams opened #47 "Design System Documentation"
Continue the task to document guidelines and rules for PDS Material in a more public-friendly way.

[2020-10-02 23:42] jordanpadams opened #48 "PDS vs Discipline Node Alert Design"
Design and distinguish the PDS-wide alerts and the node-specific alerts, inclusive of placement, color, and alert types.

[2020-10-02 23:43] jordanpadams opened #49 "Evaluate and choose sitemap generator tools"

[2020-10-02 23:43] jordanpadams opened #50 "Generate sitemap for pds.nasa.gov"

[2020-10-02 23:43] jordanpadams opened #51 "Submit pds.nasa.gov sitemap to Google Webmaster"

[2020-10-02 23:43] jordanpadams opened #52 "Integrate Google Webmaster and sitemap generator with DNs"

[2020-10-02 23:43] jordanpadams opened #53 "PDS Sitemap Generator"
See inputs from @anilnatha

[2020-10-07 19:52] tloubrieu-jpl commented on #12
@edwardbarraza do you think you will be able to close this issue by tomorrow ? Thanks

[2020-10-07 19:56] edwardbarraza commented on #12
Yes - the report will be in the form of a presentation (data in Airtable) that will be inclusive of the prominent insights across the interviews with supporting evidence for each. I will also break down insights by user groups (provider/proposer/user) and years of experience and provide recommendations for how we can support each insight going forward.

[2020-10-08 00:36] tloubrieu-jpl commented on #11
@edwardbarraza have you been able to complete this task ? It sounds like it is done except maybe the extract to github for communication purpose.

[2020-10-08 16:46] edwardbarraza commented on #11
Hey @tloubrieu-jpl this is done. I created a dedicated workspace for the app bar deliverable and gave Catherine and Eddie access. I also looked in to Relay for Figma (continuous delivery) - still have to set it up.

[2020-10-08 16:53] edwardbarraza commented on #12
Edit: I was reviewing the User Survey results deck and came across the Excel file that was the source of their findings. After going through it I found some qualitative feedback that was never surfaced (to my knowledge) and it would be good to include those in the work that I am doing, over and above what we see in their presentation deck. I would also like to have a conversation with my design me

[2020-10-08 20:37] tloubrieu-jpl commented on #12
delayed: one more day of work is required on this issue

[2020-10-08 20:39] #11 closed

[2020-10-08 20:40] tloubrieu-jpl opened #54 "Relay for Figma (continuous delivery)"
Or equivalent solution to publish the web design model for communication purpose

[2020-10-08 20:41] tloubrieu-jpl commented on #11
I created a new ticket for Relay for Figma (https://github.com/NASA-PDS/PDS.nasa.gov-UX/issues/54).
Close this one

[2020-10-09 20:32] jordanpadams commented on #54
@tloubrieu-jpl where does this fit into the UX plans? Is this something we want to do right now? or something we want to be able to do down the road?

[2020-10-13 17:34] tloubrieu-jpl commented on #12
@edwardbarraza found different ways of slicing the experiments depending on the user experience with PDS.

[2020-10-13 18:40] jordanpadams opened #55 "Develop mock-ups for PDS documentation pages"

[2020-10-13 18:41] jordanpadams opened #56 "Implement Sphinx template"

[2020-10-13 18:42] jordanpadams opened #57 "Implement software docs template for Maven"

[2020-10-15 17:47] tloubrieu-jpl commented on #12
@edwardbarraza will present the results next Thursday.

[2020-10-15 21:07] tloubrieu-jpl commented on #3
@jordanpadams , @edwardbarraza needs clarification on item 1.
@edwardbarraza can start with item 2.

[2020-10-15 21:34] edwardbarraza commented on #14
[https://app.zenhub.com/files/267908922/40b03b65-b046-4129-8236-09f75f44a508/download](https://app.zenhub.com/files/267908922/40b03b65-b046-4129-8236-09f75f44a508/download)

Draft of Personas based on the research located in Airtable, here: https://airtable.com/shrmYi0YDQFsyh2zv

[2020-10-16 13:24] jordanpadams commented on #3
@edwardbarraza i just threw something down for a description. feel free to modify the ticket description to make more sense to someone testing or trying to get a better understanding of what this pertains to. This applies to other future tickets as well since "Formulate user stories for prototype" means practically nothing to someone not on our tag-ups 😄

[2020-10-21 19:57] tloubrieu-jpl commented on #14
@jordanpadams do you want to look at Edward presentation of user personna. I found it very interesting as it will help to structure our service with a better knowledge and classification of our users. You might need the comment's from Edward to go through the slides (he did the presentation last Thursday for the revamp tagup).

[2020-10-21 19:59] tloubrieu-jpl commented on #5
@edwardbarraza are we on track with this ticket ? Thanks.

[2020-10-21 20:00] edwardbarraza commented on #5
Yes - I will be talking about the work tomorrow during our tag up.

[2020-10-21 22:06] jordanpadams commented on #14
@tloubrieu-jpl @edwardbarraza looks awesome! great work!

[2020-10-21 22:06] #14 closed

[2020-10-22 21:14] #12 closed

[2020-10-22 21:23] tloubrieu-jpl opened #58 "Propose users stories for selected subset of the user personnas"

[2020-10-22 21:27] edwardbarraza commented on #58
- March forward with current personas
- Iterate on feedback from @jordanpadams and @tloubrieu-jpl
- Identify personas that our PDS search re-design benefits the most
- Define goals and tasks
- Create stories

[2020-10-23 03:49] edwardbarraza commented on #12
[https://app.zenhub.com/files/267908922/120a92ac-f01b-4ea9-b7c1-9daf0f6f7a24/download](https://app.zenhub.com/files/267908922/120a92ac-f01b-4ea9-b7c1-9daf0f6f7a24/download)

draft - revisions pending

[2020-10-26 15:46] jordanpadams commented on #53
October Schedule Status ⏳:  On track

[2020-10-26 15:46] jordanpadams commented on #41
October Schedule Status ⏳:  On track

[2020-10-26 15:46] jordanpadams commented on #8
October Schedule Status ⏳:  On track

[2020-10-26 15:47] jordanpadams commented on #6
October Schedule Status ⏳:  On track

[2020-10-26 15:47] jordanpadams commented on #3
October Schedule Status ⏳:  On track

[2020-10-26 15:47] jordanpadams commented on #47
October Schedule Status ⏳:  On track

[2020-10-26 15:48] #5 closed

[2020-10-26 15:49] jordanpadams commented on #5
Discussed at 10/22 Sprint Planning Meeting.

@edwardbarraza please attach slide deck when available

[2020-10-26 16:04] edwardbarraza commented on #5
Draft - revisions pending
[Uploading user study draft1.pdf…]()

[2020-10-27 19:38] jordanpadams commented on #5
@edwardbarraza the PDS above doesn't work?

[2020-10-27 19:52] edwardbarraza commented on #5
Try again - looks like I submitted comment before it was uploaded. This was the draft, working revisions in before tomorrow.

[2020-11-02 18:10] jordanpadams opened #59 "Rollout PDS App Bar to Discipline Nodes"
- [x] PDS Home
- [x] ATM
- [x] GEO
- [x] IMG
- [x] RMS
- [x] SBN-PSI
- [x] SBN-UMD
- [x] NAIF
- [x] PPI

[2020-11-02 20:47] c-suh opened #80 "Create new Training page"
to replace https://pds.nasa.gov/datastandards/training/

[2020-11-05 21:53] tloubrieu-jpl opened #60 "Revise and review user stories with an organized review"
Use results of https://github.com/NASA-PDS/PDS.nasa.gov-UX/issues/3 as an input.

To be defined if we need to add user stories for other personnas.

Add workflow column.

[2020-11-06 01:33] edwardbarraza commented on #58
https://airtable.com/shrvc3CFrOgqsfPlL

[2020-11-19 04:11] #58 closed

[2020-11-24 18:39] tloubrieu-jpl commented on #6
this epic is closed as presented to the management council.
Other actions resulting from management council feedback will be processed in a different epic.

[2020-11-24 18:39] #6 closed

[2020-11-24 18:45] jordanpadams opened #61 "Refine user interview and survey analysis per MC comments"

[2020-11-24 18:49] jordanpadams commented on #60
📆 October Status: Delayed due to to creation of #61 per outcomes from PDS MC F2F

[2020-11-25 02:28] edwardbarraza opened #62 "Consolidate IMG insights"
Organize feedback for this node where appropriate
Create a deck inclusive of facts + insights + conclusions

[2020-11-25 02:29] edwardbarraza opened #63 "Consolidate GEO insights"
Organize feedback for this node where appropriate
Create a deck inclusive of facts + insights + conclusions

[2020-11-25 02:29] edwardbarraza opened #64 "Consolidate SBN insights"
Organize feedback for this node where appropriate
Create a deck inclusive of facts + insights + conclusions

[2020-11-25 02:30] edwardbarraza opened #65 "Consolidate ATM insights"
Organize feedback for this node where appropriate
Create a deck inclusive of facts + insights + conclusions

[2020-11-25 02:34] edwardbarraza commented on #61
Note - some nodes don't have too many data points. For example, NAIF only has one participant, so I may not have enough to say about NAIF. Similar situation for PPI.

[2020-11-25 17:30] jordanpadams opened #66 "Consolidate RMS insights"

[2020-11-25 17:30] jordanpadams opened #67 "Consolidate NAIF insights"

[2020-11-25 17:40] jordanpadams commented on #8
See demo here: https://drive.google.com/file/d/1n_ImPxN26tpa1fdLh1xyWRMk1KH-gZK0/view?usp=sharing

[2020-11-25 17:40] #8 closed

[2020-11-25 17:41] jordanpadams opened #68 "Consolidate PPI insights"

[2020-11-25 17:44] jordanpadams commented on #61
@edwardbarraza I created tickets to track feedback for each of the nodes. for those nodes with minimal info specific to their node, maybe we can focus on survey data or heuristic analysis? also, for consolidating/organizing survey data, we may be able to get the project office to help out here if we need something like "organize the data by node" or some other specific criteria.

[2020-11-25 17:44] jordanpadams commented on #61
📆 November Status: on track

[2020-11-25 17:45] jordanpadams commented on #3
Completed demo at MC Virtual F2F. See demo [here](https://drive.google.com/file/d/1n_ImPxN26tpa1fdLh1xyWRMk1KH-gZK0/view?usp=sharing)

[2020-11-25 17:45] #3 closed

[2020-11-25 17:46] jordanpadams commented on #47
📆 November Status: on track

[2020-11-25 17:47] jordanpadams commented on #41
delayed to later in build to push up priority for developing user stories and design

[2020-12-17 22:05] edwardbarraza commented on #63
[https://app.zenhub.com/files/267908922/eb51dbc6-5e76-4fd7-8994-8b38041afdbc/download](https://app.zenhub.com/files/267908922/eb51dbc6-5e76-4fd7-8994-8b38041afdbc/download)

[2020-12-22 19:40] jordanpadams commented on #61
:calendar: december status: delayed due to increasing scope. will be closely monitored for potential impact on tasks towards end of build

[2020-12-22 19:41] jordanpadams commented on #59
Geosciences Node has deployed app bar, albeit modified: https://pds-geosciences.wustl.edu/

[2021-01-05 19:19] jordanpadams commented on #47
:calendar: december status: on track

[2021-01-14 22:24] jordanpadams commented on #65
https://drive.google.com/file/d/1Sra09-5NWr7gh7xmUzWXpX8fSfRWhrNE/view?usp=sharing

[2021-01-14 22:24] #65 closed

[2021-01-14 22:34] jordanpadams commented on #55
📆 january status: de-scoped from B11.1 as other tasks have been delayed and/or re-prioritized

[2021-01-14 22:36] jordanpadams commented on #53
:calendar: january status: delayed due to lack of available personnel

[2021-01-15 01:45] edwardbarraza commented on #63
https://docs.google.com/presentation/u/3/d/1CBzGnpKwo74usLf8cmLT6dVf7iISLlEq/edit?usp=drive_web&ouid=117632051131548951873&rtpof=true

[2021-01-15 01:46] edwardbarraza commented on #62
https://docs.google.com/presentation/u/3/d/13MrSf47pMz_bOhKSTK_ByOGjAIb1LYYo/edit?usp=drive_web&ouid=117632051131548951873&rtpof=true

Note: Anil may add some of his findings

[2021-01-15 01:52] #63 closed

[2021-01-20 17:42] #62 closed

[2021-01-20 21:02] edwardbarraza commented on #64
https://docs.google.com/presentation/u/3/d/1GYt3xZBPUAxYaHDB6KaF-IUJF_1bSmO_/edit?usp=drive_web&ouid=117632051131548951873&rtpof=true

[2021-01-20 21:02] edwardbarraza commented on #64
https://docs.google.com/presentation/u/3/d/1GYt3xZBPUAxYaHDB6KaF-IUJF_1bSmO_/edit?usp=drive_web&ouid=117632051131548951873&rtpof=true

[2021-01-20 21:03] edwardbarraza commented on #64
https://docs.google.com/presentation/u/3/d/1GYt3xZBPUAxYaHDB6KaF-IUJF_1bSmO_/edit?usp=drive_web&ouid=117632051131548951873&rtpof=true

[2021-01-20 22:56] #64 closed

[2021-01-28 19:54] jordanpadams commented on #61
:calendar: january status: on-track for end of January delivery. slides are done, they just need to be added to repository.

[2021-01-28 19:58] jordanpadams commented on #47
:calendar: january status: continuing to work with NASA Web Modernization WG to improve design system. On schedule.

[2021-01-28 20:01] jordanpadams commented on #59
:calendar: january status: completed UMD rollout https://pds-smallbodies.astro.umd.edu/. ongoing effort that is a receivable from DN. nothing we can really do.

[2021-01-28 22:09] tloubrieu-jpl commented on #60
@edwardbarraza you first need to define shorter tasks for this epic. Thanks

[2021-02-04 15:53] jordanpadams commented on #68
@edwardbarraza we have our PPI meeting next Tuesday. Can you please upload the analysis slides here so I can link them to the meeting notes? https://drive.google.com/drive/u/0/folders/1dpWm6Ifhgmi-V8fthTX4LB55uaiEqJHl

[2021-02-04 17:53] edwardbarraza commented on #68
Here ya go!

https://docs.google.com/presentation/d/1nLHj4dTGvUGCW_Qv4NQEvAexKflYeAfJ/edit#slide=id.p1

[2021-02-11 01:21] #68 closed

[2021-02-11 01:22] jordanpadams commented on #66
@edwardbarraza can we put the slide deck out at https://drive.google.com/drive/u/0/folders/1B2Q9f120zp1ItFaifa1QTu8g__Gl1huY for our meeting next week?

[2021-02-11 01:23] jordanpadams commented on #67
@edwardbarraza can we put this slide deck out at https://drive.google.com/drive/u/0/folders/15dnsrRRbgx_CMLqCXBFsviWzqIN8FAT2 so we can wrap this up?

[2021-02-11 01:35] edwardbarraza commented on #67
https://docs.google.com/presentation/u/3/d/1iEkXJe79L7TqV-YzYycotGHVlTh6HztP/edit?usp=drive_web&ouid=117632051131548951873&rtpof=true

[2021-02-11 01:35] edwardbarraza commented on #67
Done

[2021-02-11 01:53] #67 closed

[2021-02-11 02:30] edwardbarraza commented on #66
https://docs.google.com/presentation/d/1_HlMWxTiK5whTok0Hk91aSwtCCd_2dVt/edit?usp=drive_web&ouid=103927602028807511437&rtpof=true

[2021-02-11 02:31] edwardbarraza commented on #66
Done!

[2021-02-11 02:42] #66 closed

[2021-02-11 02:42] jordanpadams commented on #66
thanks @edwardbarraza !

[2021-02-11 02:49] edwardbarraza commented on #66
I'll most likely review these before our meetings and make minor changes - I'll update the file on the drive if that is the case.

[2021-02-11 22:09] edwardbarraza opened #69 "PDS Modernization Milestone 1"

[2021-02-12 04:11] jordanpadams opened #70 "Refine PDS Web Modernization working group plan"
Develop detailed plan for new PDS Web Modernization working group activities, milestones, and deliverables

[2021-02-12 04:33] #61 closed

[2021-02-12 04:43] jordanpadams commented on #60
📆 february status: deferred to focus on developing a more refined plan: https://github.com/nasa-pds/pds.nasa.gov-ux/issues/70

[2021-02-12 04:44] jordanpadams commented on #35
📆 february status: deferred to focus on developing a more refined plan: #70

[2021-02-12 04:48] jordanpadams commented on #45
📆 february status: deferred to focus on developing a more refined plan: #70

[2021-02-12 04:49] jordanpadams commented on #41
📆 february status: deferred to focus on developing a more refined plan: #70

[2021-02-12 04:50] jordanpadams commented on #30
📆 february status: deferred to focus on developing a more refined plan: #70

[2021-02-17 22:10] jordanpadams opened #71 "Upload all data from airtable / survey to GDrive"
Upload here: https://drive.google.com/drive/folders/1B8okzSE4te2hCkQRjDZg8kD490GTATp2?usp=sharing

[2021-02-25 00:37] jordanpadams commented on #69
closing now for better more information tickets

[2021-02-25 00:37] #69 closed

[2021-02-25 17:15] jordanpadams commented on #53
📆 february status: deferred as part of larger planning effort: #70

[2021-02-25 17:16] jordanpadams commented on #47
📆 february status: LOE

[2021-02-25 17:22] jordanpadams commented on #59
📆 february status: needs:receivable

[2021-02-25 18:07] tloubrieu-jpl commented on #71
@jordanpadams can we close this ticket ?

[2021-02-25 18:31] jordanpadams commented on #71
@tloubrieu-jpl yes. all data has been uploaded to https://drive.google.com/drive/u/2/folders/1B8okzSE4te2hCkQRjDZg8kD490GTATp2

[2021-02-25 18:31] #71 closed

[2021-03-04 22:19] edwardbarraza commented on #70
[https://app.zenhub.com/files/267908922/3a2ed65f-79c3-4ca5-8e34-bf897216ddfd/download](https://app.zenhub.com/files/267908922/3a2ed65f-79c3-4ca5-8e34-bf897216ddfd/download)

[2021-03-04 22:21] tloubrieu-jpl commented on #70
@edwardbarraza provided the task schedule.

He's now going to work on the organization of the Working group by looking at how the Blink / Nasa web activity.

[2021-03-05 16:57] jordanpadams opened #72 "Refine milestones to breakdown of notional goals and deliverables"

[2021-03-11 23:13] edwardbarraza commented on #70
https://docs.google.com/document/d/1I3lrWRkA8xBPWLcBI4cNVdifLSibAS1hLPAkrxlZHQY/edit#heading=h.34jn563gr1vv

[2021-03-18 21:21] tloubrieu-jpl commented on #72
An 8 week plan is available now.

[2021-03-30 17:42] tloubrieu-jpl commented on #72
@edwardbarraza is looking at the plan for the weeks after 8th one.

[2021-04-01 02:15] jordanpadams commented on #70
initial plans complete

[2021-04-01 02:15] #70 closed

[2021-04-01 02:16] #72 closed

[2021-04-01 02:16] jordanpadams opened #73 "Rev 3 of milestones to breakdown of notional goals and deliverables"
Follow-on to #72

- [x] Revisit user stories and address gaps
- [ ] Devise a framework for how we can scope work within the working group
- [x] Revisit personas and abstract out to user behaviors
- [x] Identify additional activity to involve members during the first meeting

[2021-04-01 02:21] jordanpadams commented on #47
📆 march status: LOE. not closing with this build because some sub-tasks tracked by this Epic will be completed in future builds.

[2021-04-01 02:22] jordanpadams commented on #59
:calendar: march status: needs:receivable from nodes. moving to B12.0 plan

[2021-04-01 03:30] jordanpadams opened #74 "Plan and Kick-off PDS WMWG"
Develop the plans and begin work leading up to the PDS Web Modernization Working Group kick-off and initial meetings.

[2021-04-20 17:49] jordanpadams opened #75 "User Testing for NASA CMS Trade Study"
Per request from NASA WMT Platform Sub-team, we will be participating in some user testing for the NASA CMS.

[2021-04-21 04:16] jordanpadams opened #76 "User Personas and Stories"

[2021-04-21 04:18] jordanpadams opened #77 "Initial Information Architecture"

[2021-04-21 04:19] jordanpadams opened #78 "Design Validation and Usability Testing"

[2021-04-21 04:20] jordanpadams opened #79 "Deliver PDS WDS beta"

[2021-04-27 17:22] jordanpadams commented on #75
📆 April status: Not started yet. Awaiting login issues to be resolved.

[2021-04-27 17:23] jordanpadams commented on #74
📆 April status: On schedule

[2021-04-27 17:23] jordanpadams commented on #59
📆 April status: needs:receivable from nodes

[2021-04-29 21:06] tloubrieu-jpl commented on #73
@edwardbarraza is charting the personnas in airtable.

He's going to meet with the senior designer to discuss the behavior part.

[2021-05-03 21:42] c-suh commented on #80
@jordanpadams I had already begun work on this iteration of incorporating the new materials, and the rest should take less than a day. There are still other materials to be delivered by the PO for this task, though, so it wouldn't close this parent ticket (or however this should be designated)

[2021-05-03 21:47] jordanpadams commented on #80
@c-suh sounds good. i turned this into an Epic. can you create the individual tickets that should be children of this? e.g. incorporate materials x,y,z for this sprint, and then we can work on incorporating materials i, j, k through another ticket when we get the content?

[2021-05-03 23:09] c-suh opened #81 "[Training] incorporate new materials - misc videos and ancillary files for TBD video"
sub-task of https://github.com/NASA-PDS/PDS.nasa.gov-UX/issues/80

---
**New materials:**

---
**To Do:**
- [x] update links within page
- [x] update links within documents
- [x] edit document for Collection Product Label Structure with link to video and ancillary files
- [x] update Filling Out the File Area document (sent in another email)
- [x] use links instead of radio buttons
- [x] use chevro

[2021-05-04 00:41] jordanpadams commented on #81
@c-suh as a note, when creating sub-tasks for an Epic, there should be a `Epics` selection capability along the right sidebar, where you can actually select the Epic this should be associated with.

<img width="483" alt="Screen Shot 2021-05-03 at 5 41 03 PM" src="https://user-images.githubusercontent.com/33492486/116949335-bc29ce80-ac36-11eb-90ed-25fc0d05813e.png">

[2021-05-04 02:30] c-suh commented on #81
@jordanpadams ah, ok, I see it! The Epic option is available through ZenHub, but not through GitHub. I'll keep this in mind; thank you!

[2021-05-04 04:06] jordanpadams commented on #81
@c-suh you should also be able to see this if you in Github, as long as you have the [zenhub extension](https://www.zenhub.com/extension) installed

[2021-05-05 17:24] jordanpadams commented on #80
:calendar: April Status: brand new ticket with work started at beginning of May.

[2021-05-05 23:08] c-suh commented on #80
Have let Sheri know of the updates and am awaiting feedback.

[2021-05-06 21:18] tloubrieu-jpl commented on #73
@edwardbarraza is working on the working group meeting organization with activities generally used for workshops (e.g. speak your mind). The idea is to start from the working group inputs.

[2021-05-13 22:28] jordanpadams opened #82 "Develop kickoff meeting slides"

[2021-05-13 22:28] #73 closed

[2021-05-13 22:29] jordanpadams opened #83 "Tag-up and review materials with Internal UX Sub-team"

[2021-05-13 22:32] jordanpadams opened #84 "Identify workforce trends for Web Modernization effort"

[2021-05-27 21:04] c-suh commented on #81
Changes have been approved for this iteration.

[2021-05-27 21:04] #81 closed

[2021-05-27 21:23] tloubrieu-jpl commented on #82
@edwardbarraza present a first version today, will update after feedback

[2021-05-27 21:26] jordanpadams opened #85 "Update user personas for PDS WMWG"
Per design team discussions on 05/27/2021, updates needed.

[2021-05-27 21:29] jordanpadams commented on #83
@edwardbarraza reviewed initial materials with sub-team today. will revise and review again next week.

[2021-05-27 21:29] jordanpadams commented on #84
Workforce discussed and identified with help from Edward and line. Pursuing new roles now.

[2021-05-27 21:29] #84 closed

[2021-06-03 21:29] jordanpadams commented on #74
:calendar: May status: Delayed until June. Awaiting Managment Council approval for the working group.

[2021-06-04 18:09] c-suh commented on #75
:date: May status: Not started yet. Login issues have been resolved but the tester sites are not accessible to us.

[2021-06-07 23:54] jordanpadams commented on #59
:calendar: may status: needs:receivable from nodes. LOE

[2021-06-07 23:56] jordanpadams commented on #76
:calendar: May status: Delay possible with delayed working group approval

[2021-06-09 19:09] c-suh opened #86 "[Training] incorporate changes from June pow-wow"
- [x] remove FAQs
- [x] remove sub-levels from Table of Contents
- [x] Author Attribution: move from sidebar into section at bottom of page; retitle 'Contributors' and add sentence(s)
- [x] retitle page to PDS4 Training, remove second sentence, and remove redundant mentions of 'PDS4'
- [x] remove link for 'PDS4 Documentation'
- [x] move all items from 'Where Can I Find' to 'PDS4 Conventions'
- [x]

[2021-06-10 21:04] edwardbarraza commented on #82
https://www.figma.com/proto/wEPYb7XuzYZgF4u1dRglVn/Roadmap?page-id=219%3A0&node-id=219%3A1&viewport=-1218%2C742%2C0.17510835826396942&scaling=scale-down

[2021-06-10 21:05] edwardbarraza commented on #85
https://www.figma.com/proto/XouR3GnOtjBxHkQ7EGH6S5/Personas?page-id=0%3A1&node-id=110%3A89&viewport=772%2C385%2C0.04887383431196213&scaling=scale-down

[2021-06-10 21:06] edwardbarraza commented on #83
Tagged-up with Ben and gave him a brief history of the project. Went over design artifacts including the heuristic evaluation, design system, and Horizon work.

[2021-06-17 17:21] c-suh commented on #86
Sheri has approved the changes. @edwardbarraza, let me know if anything comes up, and we'll create another ticket for it. Thank you!

[2021-06-17 17:21] #86 closed

[2021-06-17 21:12] tloubrieu-jpl commented on #82
Using Emily feedback and integrate new slides from her.

Updating the figma jam for kickoff activity.

[2021-06-17 21:13] tloubrieu-jpl commented on #82
Kickoff this coming Tuesday

[2021-06-24 22:04] edwardbarraza commented on #83
https://www.figma.com/proto/wEPYb7XuzYZgF4u1dRglVn/Roadmap?page-id=366%3A145&node-id=372%3A18&viewport=-1013%2C634%2C0.14980541169643402&scaling=min-zoom

[2021-06-24 22:04] edwardbarraza commented on #82
https://www.figma.com/proto/wEPYb7XuzYZgF4u1dRglVn/Roadmap?page-id=366%3A145&node-id=372%3A18&viewport=-1013%2C634%2C0.14980541169643402&scaling=min-zoom

[2021-06-24 22:20] tloubrieu-jpl opened #87 "Get the directions for the next WG meeting"
Organize a meeting with Jordan, Emily and Ben

[2021-06-28 14:26] jordanpadams commented on #80
@c-suh any word here?

[2021-06-28 14:27] jordanpadams commented on #80
@c-suh also, can you please request we get a planned rollout date here? I would like to schedule this accurately so it is clear we are not slipping on this deployment.

[2021-06-28 14:29] jordanpadams commented on #80
📆 June status: New task added to the schedule in June. This effort has been ongoing in the background, but wanted to get some traceability here. awaiting customer / collaborator input to get refined end date

[2021-06-28 14:31] jordanpadams commented on #75
📆 June status: Delay continued as we are blocked due to access issues out of our control. This is not a critical task and will not impact any other tasks on our schedule.

[2021-06-28 14:32] jordanpadams commented on #85
@edwardbarraza do we want to close out this ticket, or should we keep it open per the next iteration of updates?

[2021-06-28 14:33] jordanpadams commented on #74
Planning completed and kick-off completed on 6/22

[2021-06-28 14:33] #74 closed

[2021-06-28 14:34] jordanpadams commented on #74
Meeting artifacts here: https://drive.google.com/drive/folders/1ogN6wVro1W7Eo6b9PAB8eb-JDepUR5hV?usp=sharing

[2021-06-28 14:35] jordanpadams commented on #76
📆 June status: In work. on schedule

[2021-06-28 15:53] edwardbarraza commented on #85
I'd say keep it open!

[2021-06-28 16:18] c-suh opened #88 "[Training] incorporate changes from first iteration of feedback"
Based on first iteration of feedback from PDS users (a few of Sheri's contacts). List to be expanded as more feedback comes in.

- [x] [add introduction](https://github.com/NASA-PDS/PDS.nasa.gov-UX/issues/88#issuecomment-869823037)
- [x]  [~~add checklist to beginning of page~~ revise Proposers' Guidelines' Detailed Archiving Checklist](https://github.com/NASA-PDS/PDS.nasa.gov-UX/issues/88#issueco

[2021-06-28 16:20] c-suh commented on #88
Introduction mostly implemented. Waiting to hear back about diagrams and how to incorporate [current Training materials](https://pds.nasa.gov/datastandards/training/) into this new page.

[2021-06-28 16:24] c-suh commented on #80
@jordanpadams will do on asking Sheri about a rollout date and letting her know that we are tracking this here.

Most recently, she's asked some PDS users to review the page, and we are making changes based on the feedback. (I've just created [a ticket](https://github.com/NASA-PDS/PDS.nasa.gov-UX/issues/88) for it.) She's still waiting to hear back from some of the reviewers. The plan after this r

[2021-06-28 18:32] jordanpadams commented on #80
@c-suh can I be looped in when the second part is taken into account? These pages will change as part of the web modernization effort. I want to avoid over-designing this page now, and then having to do it all over again in a year.

[2021-06-28 18:32] jordanpadams commented on #88
@c-suh what is the timeframe for these changes?

[2021-06-28 18:51] c-suh commented on #80
@jordanpadams, for clarity: I'm understanding the "second part" is the next round of reviews involving Edward, not the remainder of the current reviews. And, yes, I will loop you in when this happens.

Sheri got back with a rollout date: she is planning for this page to go live (with a few "Coming Soon" entries) by August/September, in time for the DPS conference in early October.  She also likes

[2021-07-01 21:41] c-suh commented on #88
@jordanpadams Sheri's requested for these reviewers to get back to her by the end of July but might start the next round of reviews before then (which I would loop you into).

[2021-07-02 00:42] edwardbarraza opened #89 "Send out notification to WG to sign-up for Figma accounts to utilize FigJam"

[2021-07-02 00:54] edwardbarraza opened #90 "Create a revised milestones and deliverables document"

[2021-07-02 21:03] jordanpadams commented on #89
@edwardbarraza thanks for creating this ticket! As a reminder, when you create a ticket from Zenhub, make sure you check what repo the ticket is being created in. Not a big deal, but just something to keep in mind as you create new tickets.

That being said, if you know the repo you want to create tickets in, you can just go straight there, e.g. https://github.com/NASA-PDS/PDS.nasa.gov-UX/ and the

[2021-07-02 21:05] jordanpadams commented on #90
@edwardbarraza also, don't feel like everything has to be a user story. That is primarily applicable for requirements. Takes or individual items can be created and phrased as makes sense.

[2021-07-02 21:08] jordanpadams commented on #87
Met on 7/3 and discussed next steps

[2021-07-02 21:08] #87 closed

[2021-07-02 21:10] jordanpadams opened #91 "Develop slides for next WMWG"
- [ ] @jordanpadams to provide initial intro slides
- [ ] @edwardbarraza to develop workshop materials and UX background

[2021-07-02 22:27] jordanpadams commented on #88
thanks @c-suh i would prefer if we do not bring @edwardbarraza into this effort. will see if I can get someone else to support if it is absolutely needed, but I would like to talk to everyone before we move forward with any of this.

[2021-07-02 22:28] jordanpadams commented on #88
@c-suh and by that i mean, before we move onto the "next phase" of user testing.

[2021-07-06 15:43] edwardbarraza commented on #88
@edwardbarraza understood! I was the one who offered we do that work, but always intended on getting your approval before  proceeding.

[2021-07-08 21:15] jordanpadams commented on #89
Per discussions at meeting today, @edwardbarraza will send out notification to working group to use Figma

[2021-07-08 21:18] #82 closed

[2021-07-08 21:20] jordanpadams commented on #82
kickoff meeting artifacts: https://drive.google.com/drive/folders/1ogN6wVro1W7Eo6b9PAB8eb-JDepUR5hV?usp=sharing

[2021-07-08 21:20] #83 closed

[2021-07-08 21:20] jordanpadams commented on #85
Reviewed this with internal design team today. Will continue to iterate heading into next WG meeting.

[2021-07-09 00:00] jordanpadams commented on #59
All nodes have officially deployed the App Bar. Some still have NAIF wrong due to their deployment mechanism, but I would consider that a small concern moving forward. Closing this out as completed.

[2021-07-09 00:00] #59 closed

[2021-07-14 18:58] edwardbarraza commented on #90
https://drive.google.com/drive/u/1/folders/1HWlioAM_pt21DC9zgUTUVr_dcMjvwFDb

[2021-07-14 22:36] edwardbarraza commented on #89
Did the thing on 07/13

[2021-07-14 22:36] #89 closed

[2021-07-15 22:45] #90 closed

[2021-07-21 18:39] c-suh commented on #88
**Checklist** (second checklist item from [description](https://github.com/NASA-PDS/PDS.nasa.gov-UX/issues/88#issue-931738041)) Info still being gathered on the following:

- 12 point list shared through email
- table form with additional information such as section links, node involvement, and time percentages

[2021-07-30 04:16] jordanpadams commented on #75
📆 July Status: delayed due to access issues. those have been resolved for at least 1 user. this is a nice-to-have and has no impact on the build

[2021-07-30 04:16] jordanpadams commented on #76
📆 July status: Delayed by 2 sprints as the WG started later than anticipated.

[2021-07-30 04:17] jordanpadams commented on #80
📆 July status: On schedule

[2021-08-03 20:20] #91 closed

[2021-08-03 21:16] jordanpadams commented on #91
these were completed several weeks ago for WMWG.

[2021-08-03 21:22] edwardbarraza commented on #85
Finished for this ticket, see the deck below.
https://drive.google.com/file/d/1wUNQWfMbJC0QEJb_fb5QRaO6Hy7yvgHH/view?usp=sharing

[2021-08-03 21:52] #85 closed

[2021-08-12 21:05] edwardbarraza opened #92 "Synthesize Workshop Feedback"
Summarize findings in to topics
Communicate them to the WG

[2021-08-12 21:08] edwardbarraza opened #93 "Develop Slides for next WMWG"
Create the deck
Include workshop feedback and updated Personas

[2021-08-12 21:11] tloubrieu-jpl commented on #75
@c-suh will organize a meeting with @edwardbarraza to get his feedback on the proposed CMS

[2021-08-12 21:18] tloubrieu-jpl commented on #93
includes Tim's feedback integration

[2021-08-17 23:09] edwardbarraza commented on #92
https://drive.google.com/file/d/1dXbHwGJ_4JBuJ9IHNbXoVK24f5dXSI-i/view?usp=sharing

[2021-08-17 23:09] edwardbarraza commented on #93
https://drive.google.com/file/d/1dXbHwGJ_4JBuJ9IHNbXoVK24f5dXSI-i/view?usp=sharing

[2021-08-18 22:39] jordanpadams opened #94 "Develop high-level schedule with milestones and deliverables"

[2021-08-18 22:40] jordanpadams opened #95 "Develop initial set of goals and objectives"

[2021-08-26 22:06] jordanpadams opened #96 "Develop new CIting PDS Data web page"
More info to come

[2021-09-02 21:05] #92 closed

[2021-09-02 21:05] #93 closed

[2021-09-08 13:40] jordanpadams commented on #47
Deferring out to fall inline with PDS WMWG tasks

[2021-09-08 13:52] jordanpadams commented on #77
duplicate of #31

[2021-09-08 13:52] #77 closed

[2021-09-08 14:45] jordanpadams commented on #49
@anilnatha what tool are using for generating sitemaps?

[2021-09-08 14:46] jordanpadams commented on #52
this sitemap generation will be something EN will always run. closing.

[2021-09-08 14:46] #52 closed

[2021-09-09 21:20] c-suh commented on #75
Feedback (Google) forms are not accessible due to permissions, and Wordpress and Drupal sites currently display broken pages. Have emailed Leigh but there will be a delay and am closing this until further notice.

[2021-09-09 21:20] #75 closed

[2021-09-09 21:30] jordanpadams commented on #96
Here is the google doc: https://docs.google.com/document/d/1JH0PPgUJnpq9CkluDA2cV2uKX77caPhgeHIK30VpO5k/edit?usp=sharing

It also links to https://docs.google.com/document/d/1sF8Ehm1ixBTIBtYiqZ1A-40qaq1RFfw368yorxq2vAY/edit .

Similar to the proposers page we did before, want the left sidebar and TOC included as well

[2021-09-09 21:31] jordanpadams commented on #96
@c-suh 👀 ☝️

[2021-09-14 17:26] c-suh commented on #96
@jordanpadams, the [Citing PDS4 Data page](https://pds-gamma.jpl.nasa.gov/datastandards/citing/) is ready for review.  Citing PDS3 Data is underway.

[2021-09-14 17:39] jordanpadams commented on #96
@c-suh looks awesome! a few comments:
- [ ] could we make the `(i)` and actual ℹ️ icon (preferably using whatever icon set we are using on the rest of the website)
- [ ] those should then link to appropriate definition under "Terminology and Acronyms". Even better if we could have a tooltip with the definition, but if that is not straightforward, then skip it for now.
- [ ] also just made a few ot

[2021-09-15 02:16] edwardbarraza opened #97 "Create the User Story training deck"
Review Mike's deck
Use it as a framework for the PDS work
Build the deck

[2021-09-15 02:18] edwardbarraza opened #98 "Document initial User Stories using WMWG feedback"
Extract user stories from stakeholder feedback
Put them in to Airtable

[2021-09-15 02:18] edwardbarraza opened #99 "Document initial User Stories using WMWG feedback"
Extract user stories from stakeholder feedback
Put them in to Airtable

[2021-09-15 02:19] edwardbarraza commented on #98
Zenhub created a duplicate issue

[2021-09-15 02:19] #98 closed

[2021-09-15 18:42] c-suh commented on #88
Sent email regarding information to run new checklist by ATM

[2021-09-15 18:43] c-suh commented on #80
Started email discussion with Sheri and Jordan about date and method of release.

[2021-09-15 22:21] c-suh commented on #96
@jordanpadams, I've made the requested updates as detailed above. Regarding the information icons as links with tooltips in the first paragraph of the page's [namesake section](https://pds-gamma.jpl.nasa.gov/datastandards/citing/#researchers_citing-pds4-data), both have been implemented (for both the word and the icon).

- on hover, the tooltip will show the full definition from the [Terminology a

[2021-09-16 00:12] c-suh commented on #96
@jordanpadams , the [Citing PDS3 Data page](https://pds-gamma.jpl.nasa.gov/datastandards/pds3/citing-pds3-data.shtml) is also ready for review. I took the liberty of making a few adjustments to be consistent with the PDS4 page:
- Table of Contents: no Overview link in body of page
- Table of Contents: no listing of the example cases
- Table of Contents: no listing of the how-tos
- create parent se

[2021-09-23 04:22] c-suh commented on #88
We are keeping the checklist as is. Have made the new page operational at https://pds.nasa.gov/datastandards/training/. Links are good to go for conference.

[2021-09-23 04:22] #88 closed

[2021-09-23 21:18] tloubrieu-jpl commented on #97
Should be done for coming Monday.

[2021-09-24 11:45] jordanpadams commented on #76
:clock1: Deferring remaining portions of this task to B12.1. That is expected as the web modernization requirements gathering was expected to spread across 2 builds.

[2021-09-24 11:47] jordanpadams commented on #80
all changes completed. final release will occur in B12.1

[2021-09-24 11:47] #80 closed

[2021-09-24 11:50] jordanpadams commented on #76
Initial portions of this theme were completed. will create new theme for B12.1

[2021-09-24 11:50] #76 closed

[2021-09-24 11:51] jordanpadams opened #100 "B12.1 Continuation of User Persona and User Story Development"
See sub-tasks for B12.1 plans

[2021-09-24 12:15] jordanpadams commented on #96
initial development completed

[2021-09-24 12:15] #96 closed

[2021-09-24 12:16] jordanpadams opened #101 "Deploy new Citing PDS Data Web Pages"
See sub-tasks for plans. Dependent upon DOI WG efforts.

[2021-09-24 18:21] jordanpadams commented on #95
closed per https://docs.google.com/spreadsheets/d/1xYkkp3hK_L3wAXdGmzA87QsmiWdATd6UQA4LHqoub9M/edit?usp=sharing

[2021-09-24 18:21] #95 closed

[2021-09-28 19:56] edwardbarraza commented on #99
https://airtable.com/applgnSo7ROCVIjbd/tblapwOzIaDVB1x3d/viwljshGT9xwR7q03?blocks=hide

[2021-09-28 19:57] edwardbarraza commented on #97
https://www.figma.com/file/9Pef4TbqqP3sCdPl72IWud/Roadmap-Meetings?node-id=716%3A41

[2021-09-28 19:58] #97 closed

[2021-09-28 19:58] #99 closed

[2021-10-01 20:08] c-suh opened #102 "User Testing for NASA CMS Trade Study"
Am back in touch with the POC with access to testing sites and forms mostly cleared.

- [x] Brightbox

- [x] AEM

[2021-10-02 02:14] #102 closed

[2021-10-06 16:39] edwardbarraza opened #103 "Iterate on WMWG feedback"
Include the stories provided by stakeholders
Document concerns in Risks

[2021-10-12 20:28] #103 closed, assigned to edwardbarraza

[2021-10-21 21:12] edwardbarraza opened #104 "Maintain Airtable with current entries"
Clean up data from stakeholder submission
Track new submissions
Include new submissions in our internal user stories doc

[2021-10-21 21:13] #104 closed

[2021-10-21 21:15] edwardbarraza opened #105 "Ideate UI Modules and Templates based on current stories"
check to see what is being implied by user stories
Create relational tab in Airtable
Start tagging stories

[2021-10-21 21:15] #105 closed, assigned to edwardbarraza

[2021-10-21 21:30] edwardbarraza opened #106 "Configure Airtable tab for generalized workflows"
Figure out which format will best allow us to bundle stories that have similar workflows under one category (see personas tab)
Make it and share to Jordan / Thomas / Emily for their input

[2021-10-21 21:33] edwardbarraza opened #107 "Tag user stories to modules and templates"
Identify which stories will be addressed by modules/templates
Tag tag tag
Meet with Anil and Mike to strategize how to do this

[2021-10-21 21:36] edwardbarraza opened #108 "Create slides for WMWG meeting #9"
Figure out our plan for the following meeting - will probably need to be delivered by someone else because I am out

[2021-10-29 21:17] jordanpadams commented on #100
📆 October status: on schedule

[2021-11-11 22:01] edwardbarraza commented on #94
high-level roadmap here: https://www.figma.com/file/9Pef4TbqqP3sCdPl72IWud/Roadmap-%2B-Meetings?node-id=0%3A1

[2021-11-11 22:03] edwardbarraza commented on #107
https://airtable.com/shrqH9WFddAv7m8i6

[2021-11-11 22:03] #107 closed

[2021-11-11 22:04] edwardbarraza commented on #108
Mike Newcomb made these: https://drive.google.com/file/d/1NxmlssWNtpfVTJ0mezuXccCfjIYdyPIp/view?usp=sharing

[2021-11-11 22:04] #108 closed

[2021-11-11 22:06] edwardbarraza commented on #106
Flagged stories in column "Need Clarification" for abstract interpretation of the story: https://airtable.com/shrqH9WFddAv7m8i6

[2021-11-16 21:40] #94 closed

[2021-11-24 19:37] jordanpadams opened #109 "Develop Initial User Journey Designs"
Define a list of user journeys, and prioritize 2-3 to product low-fidelity designs.

See sub-tasks for details

[2021-11-24 19:40] jordanpadams opened #110 "Define Initial Content Strategy"
See sub-tasks for details.

[2021-11-24 22:26] jordanpadams opened #111 "Define Current Information Architecture"
See sub-tasks for more details

[2021-11-24 22:28] jordanpadams opened #112 "Design Future IA and Initial Nav"
See sub-tasks for more details

[2021-11-24 22:30] jordanpadams opened #113 "Design High-Fidelity User Journeys"
Develop high-fidelity designs for 2-3 user journeys

See sub-tasks for more details.

[2021-11-24 22:34] jordanpadams opened #114 "Define Web Design System"
Review NASA WDS and determine the gaps that will need to be designed in-house.

See sub-tasks for more details.

[2021-11-24 22:50] jordanpadams opened #115 "Develop Module List"
## 💡 Description

Develop initial set of modules to be developed. Tracked in Airtable.

[2021-11-24 22:54] jordanpadams opened #116 "Develop Template List"
## 💡 Description

Develop initial list of expected templates for the new web presence. To be tracked in Airtable.

[2021-11-24 22:57] jordanpadams opened #117 "Prioritize Module List"
## 💡 Description

After #115. We want to prioritize the modules.

[2021-11-24 22:59] jordanpadams opened #118 "Prioritize Template List"
## 💡 Description

After #116. We want to prioritize the templates.

[2021-11-24 23:02] jordanpadams opened #119 "Define User Journeys"
## 💡 Description

Define set of user journeys for our community.

[2021-11-24 23:04] jordanpadams opened #120 "Identify Key User Journeys"
## 💡 Description

after #119, prioritize and select 2-3 user journeys to focus on

[2021-11-24 23:06] jordanpadams opened #121 "Develop Low-fidelity User Journey Designs"
## 💡 Description

Take the 2-3 user journeys, break out the work, and develop some initial designs.

[2021-11-24 23:09] jordanpadams commented on #100
user persona definition and data user stories completed.

[2021-11-24 23:09] #100 closed

[2021-11-24 23:13] jordanpadams opened #122 "Define Navigation Strategy"
## 💡 Description

[2021-11-24 23:14] jordanpadams opened #123 "Define Homepage / Landing Page Strategy"
## 💡 Description

[2021-11-24 23:16] jordanpadams opened #124 "Evaluate NASA WDS"
## 💡 Description

* Review NASA WDS
* Identify gaps between NASA WDS and PDS module / templates

[2021-11-24 23:18] jordanpadams opened #125 "Plan and Prioritize needed WDS improvements and adaptations"
## 💡 Description

Per #124 , plan and prioritize accordingly.

[2021-11-27 23:21] jordanpadams commented on #101
📆 November status: On schedule for December 2 deployment

[2021-11-28 00:03] jordanpadams commented on #111
📆 November status: on schedule

[2021-11-28 00:03] jordanpadams commented on #110
📆 November status: on schedule

[2021-11-28 00:03] jordanpadams commented on #109
📆 November status: on schedule

[2021-11-30 21:10] jordanpadams opened #126 "Review, clarify, and breakup user stories per categorization"
## 💡 Description

per email from @edwardbarraza:

[2021-12-09 21:58] edwardbarraza commented on #115
https://airtable.com/shrTc7FXvm3DLcCye

[2021-12-09 21:58] #115 closed, assigned to anilnatha, edwardbarraza

[2021-12-09 21:58] #120 closed, assigned to anilnatha, edwardbarraza, jordanpadams

[2021-12-09 21:59] edwardbarraza commented on #120
https://airtable.com/shrrBFS6UYnNAMym3

[2021-12-17 21:00] #101 closed

[2021-12-21 21:07] edwardbarraza commented on #121
Prioritized five journeys -
Have begun to describe the workflow in a what user see/what user does framework
https://www.figma.com/file/wzRO1Hr3bkykHVxOpVLQSX/User-Journeys?node-id=0%3A1

[2021-12-21 21:13] edwardbarraza commented on #119
Prioritized five journeys -
Have begun to describe the workflow in a what user see/what user does framework
https://www.figma.com/file/wzRO1Hr3bkykHVxOpVLQSX/User-Journeys?node-id=0%3A1

[2021-12-21 21:17] tloubrieu-jpl commented on #106
The clarification has been done

[2021-12-21 21:44] jordanpadams commented on #116
First rev complete. https://airtable.com/shrRSL1PnG0SqXWa9

[2021-12-21 21:44] #116 closed, assigned to anilnatha, edwardbarraza

[2021-12-21 21:45] jordanpadams commented on #118
Done per User Journey prioritization: https://airtable.com/shrrBFS6UYnNAMym3

[2021-12-21 21:45] #118 closed, assigned to anilnatha, edwardbarraza, jordanpadams

[2021-12-21 21:45] jordanpadams commented on #117
Done per User Journey prioritization: https://airtable.com/shrrBFS6UYnNAMym3

[2021-12-21 21:45] #117 closed, assigned to anilnatha, edwardbarraza, jordanpadams

[2021-12-21 21:46] #119 closed, assigned to anilnatha, edwardbarraza

[2021-12-23 18:01] jordanpadams commented on #106
closing this for better #126

[2021-12-23 18:01] #106 closed

[2021-12-23 18:02] jordanpadams commented on #60
closing this for better #126

[2021-12-23 18:02] #60 closed

[2022-01-04 21:20] edwardbarraza commented on #109
https://www.figma.com/file/wzRO1Hr3bkykHVxOpVLQSX/User-Journeys?node-id=25%3A2

[2022-01-06 22:18] tloubrieu-jpl commented on #121
1 user journey is almost done. it will be reviewed tomorrow.

[2022-01-06 22:19] edwardbarraza commented on #121
https://www.figma.com/file/wzRO1Hr3bkykHVxOpVLQSX/User-Journeys?node-id=25%3A3

[2022-01-06 23:50] jordanpadams commented on #111
📆 December status: on schedule

[2022-01-06 23:50] jordanpadams commented on #110
📆 December status: on schedule

[2022-01-06 23:50] jordanpadams commented on #109
📆 December status: on schedule

[2022-01-13 22:17] edwardbarraza commented on #121
Finished and Reviewed:
Manually search archival data holdings
Browse a full list of software that the PDS provides
Find specific software to help me analyze data

To Do:
Find the search tools that can help me continue search
Search for specific data needed for research

[2022-01-13 22:21] tloubrieu-jpl commented on #121
@edwardbarraza is completing the finished journey with alternatives for different personna.

[2022-01-13 22:34] jordanpadams commented on #111
Initial architecture presented here: https://docs.google.com/presentation/d/1t1Eo8R54ojgb-ycGW1nOu6vQIW--73W7NSXeyWuG96c/edit?usp=sharing

[2022-01-14 04:51] jordanpadams opened #127 "Finalize current information architecture"
## 💡 Description

* for each node, diagram how the architecture currently is from the user perspective
* create a second diagram (for each node) that's even more high-level, which uses the same content categories I used to tag the pages
* Data Support - I want to find more duplicative topics as I have been doing.
* Tools - i think we have enough data to start to at least define the current groupin

[2022-01-20 21:57] edwardbarraza commented on #121
Manually search archival data holdings x2
Browse a full list of software that the PDS provides
Find specific software to help me analyze data
Search for specific data needed for research

To Do:
Find the search tools that can help me continue search

[2022-01-26 04:11] jordanpadams commented on #111
📆 January status: Delayed one sprint to wrap up deliverables. working on https://github.com/nasa-pds/pds.nasa.gov-ux/issues/112 in parallel so no impact on other deliverables

[2022-01-26 04:14] jordanpadams commented on #122
presented at WMWG meeting on 1/25. https://drive.google.com/drive/folders/100957yVH-7l4vPqmoZVQpOb0m-76kK94?usp=sharing

[2022-01-26 04:14] #122 closed, assigned to newcomber

[2022-01-26 04:14] jordanpadams commented on #123
presented to WMWG on 1/25 https://drive.google.com/drive/folders/100957yVH-7l4vPqmoZVQpOb0m-76kK94?usp=sharing

[2022-01-26 04:14] #123 closed, assigned to newcomber

[2022-01-26 04:15] jordanpadams commented on #110
all sub-tasks completed and presented on 1/25 https://drive.google.com/drive/folders/100957yVH-7l4vPqmoZVQpOb0m-76kK94?usp=sharing

[2022-01-26 04:15] #110 closed

[2022-01-26 04:16] jordanpadams commented on #109
📆 January status: journeys continue to evolve and be built and present to WMWG. delayed on sprint to ensure we cover a sufficient number of journeys before moving on to higher fidelity designs. beta dev task so no impact on B12.1

[2022-01-27 22:16] tloubrieu-jpl commented on #121
All the user journey have been described.

Some still need to be reviewed by the Working Groups

[2022-01-27 22:21] jordanpadams opened #128 "Brainstorm additional modules based upon remaining user journeys"
## 💡 Description

let's take a look at the remaining user journeys that have not been designed and start to identify any missing modules that we want and/or additional way we can visualize our results

[2022-02-09 16:29] jordanpadams commented on #127
Done per https://docs.google.com/presentation/d/1UohUT5UIbxW9aaOmZPvDigTbmEEAC_hturpO8B8EnJI/edit?usp=sharing

[2022-02-09 16:29] #127 closed, assigned to sophiaconover

[2022-02-13 03:03] jordanpadams commented on #111
all sub-tasks done. presented to WMWG on 2/8. https://drive.google.com/drive/folders/1i9pjqe59h0jIdImNwTyxtJR6fLGxPwth?usp=sharing

[2022-02-13 03:03] #111 closed

[2022-02-15 21:17] tloubrieu-jpl commented on #121
Still 2 user journeys to be reviewed with the Working Group.

[2022-02-15 21:17] jordanpadams opened #129 "Design Investigations Portal high-fidelity designs (draft 1)"
## 💡 Description

Develop journey for browsing through contextual information related to data in order to (1) understand more about how the data was observed, (2) how the data was produced, (3) and other data from the mission that may be of interest

[2022-02-15 21:19] jordanpadams opened #130 "Develop high-fidelity design for data / web search journey (draft 1)"
## 💡 Description

[2022-02-15 21:24] jordanpadams commented on #49
@anilnatha what tool are  you using for sitemaps? and do you think that would be a good tool to use for sitemaps we submit to google or no?

[2022-02-16 21:34] jordanpadams commented on #128
This task will be completed after reviewing nodes mission and instrument landing pages.

https://pds-ppi.igpp.ucla.edu/mission/Cassini-Huygens
https://pds-atmospheres.nmsu.edu/data_and_services/atmospheres_data/Cassini/Cassini.html
https://pds-imaging.jpl.nasa.gov/portal/cassini_mission.html
https://pds-geosciences.wustl.edu/missions/insight/
https://pds-imaging.jpl.nasa.gov/portal/insight_mission

[2022-02-16 21:35] jordanpadams commented on #129
Examples of what the discipline nodes are doing now:

https://pds-ppi.igpp.ucla.edu/mission/Cassini-Huygens
https://pds-atmospheres.nmsu.edu/data_and_services/atmospheres_data/Cassini/Cassini.html
https://pds-imaging.jpl.nasa.gov/portal/cassini_mission.html
https://pds-geosciences.wustl.edu/missions/insight/
https://pds-imaging.jpl.nasa.gov/portal/insight_mission.html
https://atmos.nmsu.edu/data_a

[2022-02-16 21:36] jordanpadams commented on #129
Using this data set and a starter for heading into the context portal (or TBD better name...): https://pds.nasa.gov/ds-view/pds/viewCollection.jsp?identifier=urn%3Anasa%3Apds%3Amars2020_supercam%3Adata_derived_spectra&version=2.0

[2022-02-16 21:49] jordanpadams opened #131 "Develop initial Homepage high-fidelity design"
## 💡 Description

Use NASA HDS as much as possible

[2022-03-01 21:21] tloubrieu-jpl commented on #129
A low fidelity design is required before this ticket is worked on.

[2022-03-02 04:20] jordanpadams commented on #128
done. new portal journey created to address comments above.

[2022-03-02 04:21] #128 closed, assigned to anilnatha, edwardbarraza

[2022-03-02 04:21] jordanpadams commented on #121
remaining user journeys have been reviewed. moving on to high-fidelity designs.

[2022-03-02 04:21] #121 closed, assigned to anilnatha, edwardbarraza

[2022-03-02 04:21] jordanpadams commented on #109
all sub-tasks completed. moving on to high-fidelity designs

[2022-03-02 04:21] #109 closed

[2022-03-02 04:22] jordanpadams commented on #113
📆 February status: In work.

[2022-03-02 04:22] edwardbarraza commented on #121
https://airtable.com/applgnSo7ROCVIjbd/tblBcueKB8tJCi6fC/viwxMWZHXMTXmvOFV?blocks=hide

[2022-03-02 04:24] jordanpadams opened #132 "High-fidelity design for PDS Homepage"
## 💡 Description

[2022-03-02 04:26] jordanpadams commented on #114
📆 February status: In work. Beginning to evaluate NASA HDS as part of high-fidelity designs.

[2022-03-02 04:27] jordanpadams opened #133 "Card sorting exercise with users"
## 💡 Description

Complete card sorting exercise with users to inform nav design.

[2022-03-02 04:29] jordanpadams opened #134 "Develop new IA for future PDS"
## 💡 Description

Synthesize the findings from the current IA and future directions to form a new PDS IA for initial nav design.

[2022-03-08 21:05] edwardbarraza commented on #133
https://docs.google.com/spreadsheets/d/1ZZrFccnBJXCaxmYvX4wT2qH3CgKo62A7_qYsfN2n22M/edit#gid=0

[2022-03-08 21:15] tloubrieu-jpl commented on #130
Should be ready for conversation for next Thursday

[2022-03-08 21:15] tloubrieu-jpl commented on #133
Interviews are remaining to be done

[2022-03-10 14:27] jordanpadams commented on #31
duplicate for https://github.com/nasa-pds/pds.nasa.gov-ux/issues/111 and https://github.com/nasa-pds/pds.nasa.gov-ux/issues/112

[2022-03-10 14:27] #31 closed

[2022-03-19 06:23] jordanpadams commented on #129
Tables to next sprint/build

[2022-03-22 20:15] tloubrieu-jpl commented on #133
6 participants have been interviewed so far.
1 remaining for next week.

[2022-03-22 20:16] tloubrieu-jpl commented on #130
Work in progress, targeting next Working Group meeting in 2 weeks.

[2022-03-28 22:22] jordanpadams commented on #113
:calendar: March Status: progress ongoing. on schedule.

[2022-03-28 22:22] jordanpadams commented on #114
:calendar: March Status: in work. on schedule.

[2022-03-28 22:22] jordanpadams commented on #112
:calendar: March Status: in work. on schedule.

[2022-03-29 20:17] tloubrieu-jpl commented on #133
All interviews completed, table updated

[2022-03-29 20:18] tloubrieu-jpl commented on #133
To be review @sophiaconover , @mpnewcom @anilnatha in a meeting

[2022-03-31 21:23] tloubrieu-jpl commented on #134
We will close that ticket after the review by the working group

[2022-03-31 21:24] tloubrieu-jpl commented on #130
In progress

[2022-04-05 20:18] tloubrieu-jpl commented on #133
Review during a working group meeting

[2022-04-05 20:18] #133 closed, assigned to edwardbarraza, newcomber

[2022-04-05 20:19] tloubrieu-jpl commented on #134
Presented at the working group today

[2022-04-05 20:19] #134 closed, assigned to edwardbarraza, sophiaconover

[2022-04-13 03:47] jordanpadams commented on #126
going to close this as completed. this will be ongoing as we move more towards testing phases

[2022-04-13 03:47] #126 closed, assigned to jordanpadams

[2022-04-14 22:43] jordanpadams commented on #131
duplicate of #132

[2022-04-14 22:43] #131 closed, assigned to anilnatha

[2022-04-14 22:44] jordanpadams opened #135 "Develop discipline node high fidelity design for GEO (draft 1)"
## 💡 Description

[2022-04-14 22:45] jordanpadams commented on #132
providing a few alternatives for data here

[2022-04-14 22:46] jordanpadams opened #136 "Develop data set landing page high-fidelity designs (draft 1)"
## 💡 Description

Tightly coupled with #129

[2022-04-14 22:47] jordanpadams opened #137 "Develop tool landing page high-fidelity designs (draft 1)"
## 💡 Description

[2022-04-19 20:21] jordanpadams commented on #130
updates completed. awaiting to preview with WMWG.

[2022-04-19 20:24] jordanpadams commented on #136
to begin work on this

[2022-04-22 22:06] jordanpadams opened #138 "Continue High-Fidelity User Journey Designs: Homepage, Search, Mission Portal"
## 💡 Description

[2022-04-22 22:09] jordanpadams commented on #113
Initial designs created and presented to WMWG for homepage.

[2022-04-22 22:10] jordanpadams commented on #114
initial WDS definition completed per past information gathered from NASA WDS. bespoke modules/templates have been identified and are being tracked in airtable.

[2022-04-22 22:10] #114 closed

[2022-04-22 22:11] jordanpadams opened #139 "Refine WDS based upon High-Fidelity Designs"
## 💡 Description

Identify and plan for bespoke PDS modules and templates based upon WDS

[2022-04-22 22:17] jordanpadams opened #140 "Usability Testing Phase 1 - Introduction"
## 💡 Description

[2022-04-22 22:23] jordanpadams opened #141 "Design Investigations Portal high-fidelity designs (draft 2)"
## 💡 Description

[2022-04-22 22:24] jordanpadams opened #142 "Develop data set landing page high-fidelity designs (draft 2)"
## 💡 Description

[2022-04-22 22:25] jordanpadams opened #143 "Develop high-fidelity designs for data / web search journey (draft 2)"
## 💡 Description

[2022-04-22 22:30] jordanpadams commented on #112
Initial nav presented to WMWG and input was received

[2022-04-22 22:30] #112 closed

[2022-04-28 00:26] jordanpadams opened #144 "Develop high-fidelity designs for node-centric data / web search journey (draft 1)"
## 💡 Description

Follow-on to #130/#143 to take the search journey and provide a discipline node-centric version of the results when someone performs that search from a within a discipline node portion of the site.

[2022-04-28 00:26] jordanpadams opened #145 "Develop high-fidelity designs for node-centric data / web search journey (draft 2)"
## 💡 Description

Follow-on to #144

[2022-04-28 00:30] jordanpadams opened #146 "As a mobile user, I want to receive a warning when I am navigating to a page that is not mobile-friendly."
## 💪 Motivation
...so that I can

## 📖 Additional Details

## ⚖️ Acceptance Criteria
**Given**
**When I perform**
**Then I expect**

## ⚙️ Engineering Details

Per discussions with GEO

[2022-04-28 21:19] jordanpadams commented on #130
🕐 Reviewed further at team meeting today. to be reviewed at WMWG on Tuesday.

[2022-05-03 20:17] #130 closed, assigned to edwardbarraza

[2022-05-03 20:18] jordanpadams commented on #143
@edwardbarraza up next

[2022-05-03 20:21] jordanpadams commented on #51
closing for foreseeable future. this is something we will do as part of the larger web mod effort

[2022-05-03 20:21] #51 closed

[2022-05-03 20:22] jordanpadams commented on #53
closing for foreseeable future. this is something we will do as part of the larger web mod effort

[2022-05-03 20:22] #53 closed

[2022-05-03 20:24] jordanpadams commented on #135
Completed and discussed at WMWG today. https://drive.google.com/drive/folders/1C0j4A30pCRlLJkkUK5LyWZBJZa7SrIGm?usp=sharing

[2022-05-03 20:24] #135 closed, assigned to anilnatha

[2022-05-10 15:52] jordanpadams commented on #49
closing this as completed for now. will follow up on this in a more robust fashion when we create out new site

[2022-05-10 15:52] #49 closed

[2022-05-10 15:59] jordanpadams commented on #124
this is ongoing as part of the user journey detailed designs

[2022-05-10 15:59] #124 closed, assigned to nobody

[2022-05-12 21:09] jordanpadams commented on #143
kit of parts and components for these modules/templates. plugged in variations for the content tabs.

[2022-05-12 21:10] jordanpadams commented on #129
to be updated with more information per ATM content pages

[2022-05-12 21:11] jordanpadams commented on #132
presented to web modernization working group

[2022-05-12 21:11] #132 closed, assigned to anilnatha

[2022-05-17 20:22] tloubrieu-jpl commented on #129
Has been presented to the Working Group today.

The nodes are requesting more information to be displayed on the landing pages.

[2022-05-17 20:22] #129 closed, assigned to edwardbarraza

[2022-05-17 20:24] #143 closed, assigned to edwardbarraza

[2022-05-17 20:26] jordanpadams opened #147 "Refine WDS documentation per latest high fidelity designs"
## 💡 Description

Determine components that have been modified or adapted for designs, and augment the HDS documentation as needed to support a PDS WDS

[2022-05-17 20:42] jordanpadams commented on #147
duplicate of https://github.com/NASA-PDS/pds-wds/issues/19

[2022-05-17 20:42] #147 closed, assigned to edwardbarraza

[2022-05-27 18:13] jordanpadams commented on #139
📆 May status: In progress. On schedule

[2022-05-27 18:14] jordanpadams commented on #138
📆 May status: In progress. On schedule

[2022-05-31 17:31] jordanpadams opened #148 "Provide subset of HDS to be included in current node app re-designs"
## 💡 Description

We need to figure out a subset of the HDS look-and-feel to provide to nodes who are in the process of doing web app re-designs.

[2022-06-09 21:46] tloubrieu-jpl commented on #141
@edwardbarraza shared high fidelity design with the team and got feedback.
It is ready to share with the working group this coming Tuesday.

[2022-06-09 21:49] tloubrieu-jpl commented on #148
@anilnatha presented that to the team today, that will be sent to the node.

[2022-06-14 20:35] tloubrieu-jpl commented on #141
@edwardbarraza will do a draft3 thanks to the feedback received during the WG meeting today.

[2022-06-14 20:40] edwardbarraza opened #149 "Iterate the Instrument Landing Page (Draft #3)"
## 💡 Description

[2022-06-14 20:42] edwardbarraza commented on #136
https://www.figma.com/proto/9y6Davo80c1cuKvPFfIcAu/Mockups?page-id=29%3A7092&node-id=29%3A7092&viewport=-11721%2C-19696%2C0.79&scaling=min-zoom&starting-point-node-id=1104%3A49509

[2022-06-14 20:45] edwardbarraza opened #150 "Create a contextual filter/search widget for landing page content"
## 💡 Description

[2022-06-22 23:33] edwardbarraza opened #151 "Adapt the Table of Contents module for PDS usage"
## 💡 Description

[2022-06-23 21:39] tloubrieu-jpl commented on #151
This component can be used without to much change. @edwardbarraza presented that at the weekly meeting today.

[2022-06-23 21:40] edwardbarraza opened #152 "Make the Investigation page for Cassini"
## 💡 Description

[2022-06-23 21:41] tloubrieu-jpl commented on #152
@edwardbarraza will show that this Tuesday to the working group.

[2022-06-23 21:42] edwardbarraza commented on #148
https://www.figma.com/file/rUaHLhTUdXn6fdZqVm6jjr/OLAF-Design-Exercise

[2022-06-23 21:42] #148 closed, assigned to anilnatha, edwardbarraza, newcomber

[2022-06-23 21:44] edwardbarraza commented on #143
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=29%3A7092

[2022-06-23 21:44] edwardbarraza commented on #141
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=29%3A7092

[2022-06-23 21:44] #141 closed, assigned to edwardbarraza

[2022-06-23 21:45] edwardbarraza commented on #151
![Screen Shot 2022-06-23 at 2.45.15 PM.png](https://images.zenhubusercontent.com/5ebddfad11d80c7b1f6e5d8d/3dfe02be-d8a9-4258-afbb-e685022b627e)

[2022-06-23 21:47] tloubrieu-jpl commented on #151
The conclusion of this ticket is that we are keeping the HDS component as-is regarding how ti looks like. The behavior may be updated but the visual is ok for PDS to use.

[2022-06-23 21:48] #151 closed, assigned to edwardbarraza

[2022-06-28 20:17] edwardbarraza opened #153 "Iterate on MSL Investigations landing high-fidelity designs (draft 3)"
## 💡 Description
Iterate on MSL landing page, coalesce that content with that of the cassini archive content (ATM and RMS)

[2022-06-28 20:19] edwardbarraza opened #154 "Iterate on Cassini Investigations landing high-fidelity designs (draft 2)"
## 💡 Description
Propagate updates in ticket 153 and introduce SBN content.

[2022-06-28 20:21] tloubrieu-jpl commented on #152
Draft 1 is done and has been presented to the working group today.

[2022-06-29 17:56] jordanpadams opened #155 "Develop new website sitemap per IA"
## 💡 Description

[2022-06-29 18:55] jordanpadams opened #156 "Prep for Web Mod Town Hall"
## 💡 Description

See spreadsheet for agenda and assignments.

https://docs.google.com/spreadsheets/d/18m7vOQ7XOqhApQlPdfxqpxl1orSdjGuajL7VA112z5I/edit?usp=sharing

[2022-07-02 19:59] jordanpadams commented on #139
📆 June status: In progress. On schedule

[2022-07-02 19:59] jordanpadams commented on #138
📆 June status: In progress. On schedule

[2022-07-02 20:01] jordanpadams commented on #152
closing. #154 is follow-on task

[2022-07-02 20:01] #152 closed, assigned to edwardbarraza

[2022-07-28 17:12] tloubrieu-jpl commented on #156
@jordanpadams I think this ticket can be closed now.

[2022-07-28 17:12] #156 closed, assigned to anilnatha, edwardbarraza, sophiaconover, newcomber

[2022-08-02 18:42] jordanpadams commented on #139
📆 July status: In progress. On schedule

[2022-08-02 18:42] jordanpadams commented on #138
📆 July status: In progress. On schedule

[2022-08-16 19:57] edwardbarraza commented on #153
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=1168%3A51419

[2022-08-16 19:57] edwardbarraza commented on #154
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=1168%3A51419

[2022-08-23 21:41] edwardbarraza commented on #154
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=1168%3A51419

[2022-08-23 21:41] edwardbarraza commented on #153
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=29%3A7092

[2022-08-25 21:19] edwardbarraza opened #157 "Address PDS-15 feedback"
https://docs.google.com/spreadsheets/d/1xtoxIB-1irrzdURS_P3ukUqAXO5izxMB9UU2m3d7puw/edit#gid=73010391

[2022-08-25 21:21] edwardbarraza opened #158 "Address PDS-13 feedback"
https://docs.google.com/spreadsheets/d/1xtoxIB-1irrzdURS_P3ukUqAXO5izxMB9UU2m3d7puw/edit#gid=73010391

[2022-08-25 21:24] jordanpadams commented on #157
Status: Started working on response to this feedback.

[2022-09-01 21:16] jimmie commented on #157
Completed, awaiting review

[2022-09-01 23:46] edwardbarraza commented on #158
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=1034%3A53463

[2022-09-01 23:46] edwardbarraza commented on #153
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=29%3A7092

[2022-09-01 23:47] edwardbarraza commented on #153
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=1168%3A51419

[2022-09-01 23:47] #154 closed, assigned to edwardbarraza

[2022-09-01 23:47] #153 closed, assigned to edwardbarraza

[2022-09-02 20:16] jordanpadams commented on #140
Presented plan to Web Modernization working group. https://drive.google.com/drive/u/0/folders/1OwVOYcHe6KuWeowsIyvF5J2EiC6agbiZ

[2022-09-02 20:16] #140 closed, assigned to nobody

[2022-09-02 20:17] jordanpadams commented on #139
Completed

[2022-09-02 20:17] #139 closed, assigned to nobody

[2022-09-02 20:20] jordanpadams commented on #136
To be presented to WMWG on 9/6: https://drive.google.com/drive/u/0/folders/1w2uACVm4Yz6waA8keNCsZvvH9V8oKKx3

[2022-09-02 20:20] #136 closed, assigned to anilnatha, edwardbarraza

[2022-09-02 20:21] jordanpadams commented on #138
All initial high-fidelity designs complete for homepage, search, mission/instrument/data set portals. More evolution to come in B13.1

[2022-09-02 20:21] #138 closed, assigned to nobody

[2022-09-10 23:12] #158 closed, assigned to edwardbarraza

[2022-09-20 21:44] edwardbarraza opened #159 "PDS-16/17 feedback"
https://docs.google.com/spreadsheets/d/1xtoxIB-1irrzdURS_P3ukUqAXO5izxMB9UU2m3d7puw/edit#gid=277306985

- [x] Comment
- [x] Design
- [x] Change Status

[2022-09-20 21:45] edwardbarraza commented on #159
Showed designs to internal team and presented them at the WMWG

[2022-09-20 21:48] edwardbarraza opened #160 "Ideate Filter Widget"
- [x] Meet with Anil to brainstorm
- [x] Create designs that include best products of the brainstorm
- [x] Present to internal design folks

[2022-10-02 00:11] jordanpadams opened #161 "B13.1 User Journey Figma Prototyping: Homepage & Search"
## 💡 Description

See sub-tasks for more details

[2022-10-04 14:45] edwardbarraza commented on #160
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=1991%3A91695

[2022-10-06 21:11] edwardbarraza opened #162 "Commit components across all designs"
- [x] Review list of components to be committed
- [x] Commit specs for components across the designs
- [x] Propagate committed components to existing designs

[2022-10-06 21:12] jimmie commented on #160
Widget tagged, review requested, awaiting feedback.

[2022-10-06 21:15] edwardbarraza opened #163 "Commit components across all designs"
[ ] Review list of components to be committed
[ ] Commit specs for components across the designs
[ ] Propagate committed components to existing designs

[2022-10-06 21:29] edwardbarraza opened #164 "Design Data Documentation Page"
- [ ] Review existing pages for content
- [ ] Makes designs based off of a couple references

[2022-11-15 21:33] edwardbarraza commented on #162
Continuing to commit spec for components. These are being published in the PDS Design System file.

[2022-11-29 15:21] jordanpadams commented on #157
Done. Reviewed with WG

[2022-11-29 15:21] #157 closed, assigned to edwardbarraza

[2022-11-29 15:21] jordanpadams commented on #160
presented to design team, WG, and MC

[2022-11-29 15:21] #160 closed, assigned to edwardbarraza

[2022-11-29 15:21] jordanpadams commented on #159
presented to WG. completed.

[2022-11-29 15:21] #159 closed, assigned to edwardbarraza

[2022-11-29 15:24] jordanpadams commented on #155
v1 of this completed and presented to WG on 10/18

[2022-11-29 15:24] #155 closed, assigned to sophiaconover

[2022-11-29 21:32] tloubrieu-jpl commented on #149
@edwardbarraza will add a link to that.

[2022-11-29 21:33] edwardbarraza commented on #149
https://www.figma.com/file/9y6Davo80c1cuKvPFfIcAu/Mockups?node-id=1991%3A91695&t=W2RVA2ymuEWxEYjW-1